* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #FAFAFA;
}
.header {
    width: 100%;
    height: 230px;
    background-image: url(img/Oval.png);
    display: block;  
}
.header-content {
    display: flex;
    justify-content: space-between;
    padding: 61px 165px;
}
.logo {
    display: inline-block;  
}
.title {
    display: inline-block;
}
.title h2 {
    color: #979797;
    font-size: 24px;
    margin: 5px 0 0 25px;
}
.title span {
    color: #979797;
    font-size: 16px;
    margin: 5px 0 0 25px;
}
.header-menu-list {
    list-style: none;
    margin: 20px 0 0 0;  
}
.header-menu-list a {
    text-decoration: none;
    color: #979797;
    display: inline-block;
    font-size: 14px;
    padding-left: 53px;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: #ffffff;
    margin: -45px 130px 0 150px;
    height: 89px;
    border-radius: 6px;
}
.nav-menu-icon img {
    display: inline-block;
    padding: 0 50px 0 30px;
    cursor: pointer;
}
.nav-menu li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding-right: 100px;
}
.main {
    display: flex;
    flex-direction: row;
}
.calculator {
    width: 437px;
    height: 343px;
    background: #ffffff;
    padding: 27px 26px;
    text-align: center;
    border-radius: 6px;
    margin: 32px 0 0 150px;
}
.calculator-title {
    font-size: 21px;
    color: #121212;
    opacity: 0.6;
    font-weight: 200;
    margin-bottom: 20px;
}
.calculator-line {
    width: 384px;
    color: #F5F5F5;
    border: 1px solid #F5F5F5;
    margin-bottom: 18px;
}
#tanxa {
    outline: none;
    width: 170px;
    height: 54px;
    border: 1px solid #F5F5F5;
    border-radius: 6px;
    padding-left: 15px;
    margin-right: 23px;
}
#tanxa::placeholder {
    font-size: 14px;
    color: #121212;
    opacity: 0.3;
}
#procenti {
    outline: none;
    width: 170px;
    height: 54px;
    border: 1px solid #F5F5F5;
    border-radius: 6px;
    padding-left: 15px;
}
#procenti::placeholder {
    font-size: 14px;
    color: #121212;
    opacity: 0.3;
}
#pensia {
    display: block;
    outline: none;
    width: 363px;
    height: 54px;
    border: 1px solid #F5F5F5;
    border-radius: 6px;
    padding-left: 15px;
    margin: 18px 0 18px 10px;
}
#pensia::placeholder {
    font-size: 14px;
    color: #121212;
    opacity: 0.3;
}
#gamotvla {
    display: block;
    outline: none;
    width: 363px;
    height: 54px;
    border: 1px solid #009944;
    background: #009944;
    color: #ffffff;
    border-radius: 6px;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}
.main-conteiner {
    margin-right: 90px;
}
.main-conteiner-img img {
    width: 100%;
}
#gatishva {
    color: red;
    font-style: initial;
    font-weight: bolder;
    cursor: pointer;
}







































@media (max-width: 1880px) {
    .nav-menu li {
        padding-right: 90px;
        font-size: 16px;
    }
}
@media (max-width: 1640px) {
    .nav-menu li {
        padding-right: 80px;
        font-size: 14px; 
    }
}
@media (max-width: 1490px) {
    .nav-menu li {
        padding-right: 70px;
        font-size: 13px;
    }
}
@media (max-width: 1400px) {
    .nav-menu li {
        padding-right: 60px;
        font-size: 12px; 
    }
    .header-menu-list a {
        font-size: 10px;
        padding-left: 20px;
    }
    .title h2 {
        font-size: 16px; 
    }
    .title span {
        font-size: 12px;
    }
}
@media (max-width: 1300px) {
    .nav-menu li {
        padding-right: 25px;
        font-size: 10px;  
    }
    .nav-menu-icon img {  
        padding: 0 30px 0 30px;
    }
}